<h1>work.shop CRM notes:</h1>
*These are things that need to be addressed here for sure. If you see anything else we need holler!
<hr>
<p>Services field additon - dropdown: DDCM, Projects, Spark, Apps</p>
<p>Search Functionality - Ransack - search by status, type of service maybe more.</p>
<p>-Need datepickers added to the start and finish dates within the projects/_form</p>
<p>-add project duration jquery to the show page</p>
<p>-project form needs to change according to status</p>
<p>integrate Milia gem</p>
<p>-there will be 9 stages of status - need that list from Michael and need that integrated</p>
<p>-needs branded 404, 422 and 500</p>
<p>Project form validations</p>
<p>registration turned off.</p>
<p>Upload image larger than the validation size of 1mb throws you to one of the error pages - That needs to be solved!</p>
<p>Message displayed after signing up is over written by "You must sign in to continue" if the home page is protected</p>
<hr>



            

