<h1>work.shop CRM notes:</h1>
*These are things that need to be addressed here for sure. If you see anything else we need holler!
<hr>
<p>-Need datepickers added to the start and finish dates within the projects/_form</p>
<p>-add project duration jquery to the show page</p>
<p>-project form needs to change according to status</p>
<p>-project form currently has no validations</p>
<p>-needs branded 404, 422 and 500</p>
<hr>
<%= link_to "Check out the beginning of Projects =>",
            projects_path,
            :class => 'btn btn-primary' %>
<hr>

<%= link_to "Sign-up here if you have not already =>",
            "https://workshopcrm.herokuapp.com/users/sign_up",
            :class => 'btn btn-danger' %>
<br>
<p>*You will receive a confirmation email with a link within moments...</p>



            

