<h1>workshopcrm - WIP</h1>
<h2>Customer Relationship Management for work.shopMG</h2>
<hr>
<h3>This has been edited in the new AWS Cloud9 environment.</h3><br>
<h3>Also a second save from the master to check the git difference.</h3><br>

<br><br>

<hr>
<h2># If cloning this realize a couple of things:</h2><br><br>

-it's using sqlite3 in development and PostgreSQL in production (gemfile)<br><br>

-it's using sendgrid for sign-up email confirmations (.baschrc)<br>
export SENDGRID_USERNAME=xxxxxxxxxx<br>
export SENDGRID_PASSWORD=xxxxxxxxxx<br><br>

-send grid port (config/environment.rb) :port => '587' for heroku sign-ups :port => '2587' for Cloud9 sign-ups
<br><br>
-it uses AWS for file storage - just needs an S3 bucket and credentials<br>
$ heroku config:set S3_ACCESS_KEY=xxxxxxxxxxxxxxxxxx<br>
$ heroku config:set S3_SECRET_KEY=xxxxxxxxxxxxxxxxxx<br>
$ heroku config:set S3_BUCKET=xxxxxxxxxxxxxxxxxx<br><br>

-config/environments/development.rb and production has something that needs to be addressed:<br><br>

development:<br>
config.action_mailer.default_url_options = { :host => 'hxxp://greeby-associate-tracker-jxxxxxxxxxxxer.c9users.io'}
<br><br>
production:<br>
config.action_mailer.default_url_options = { :host => 'greeby-associate-tracker.herokuapp.com', :protocol => 'https'}
  <br><br>
-config/initializers/devise.rb - where the email notifications are coming from:<br>
config.mailer_sender = 'no-reply@workshop-mg.com'
<br><br><br><br>